body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #B4DCE8;
  color: #fa5d9c;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
